.home{
    display: flex;
    flex-wrap: wrap;    
    align-content: center;    
    background-color: lightgray;
}

.title{
    /*text-align: top;
    --position: relative;*/
    display: inline-block;
    vertical-align: top;

}

.expression-builder-selectors{
   
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    font-size: 35px;

}

.TextField{
    background-color: white;
}

.rule-container{
    padding-top: 20px;
}